<nav>
     <ul class="navbar">
           <a href="/edit">Edit Profile</a>
            <span class="nav-divider">ا</span>
            <a href="/logout">Logout</a> </li>
     </ul>
   </nav>

<div id="flex-container">
    <section id="info-container">
        <header>
            <div id="devotees-container">
                <h1 id="list">List of</h1>
            </div>
            <h1 id="tokoloshe">adopters</h1>
            <div id="home-sub-container">
                <h2 id="home-sub">Globally, {{count}} people have adopted a tokoloshe.</h2>
            </div>
        </header>

        <div id='hidden-scrollbar'>
            <section id="signers-container">
                {{#signers}}
                    {{#if url}}
                        {{#if age}}
                            <p>
                                <a href="{{url}}" targets="_blank">{{fname}} {{lname}}</a> ᛂ
                                {{age}} years old ᛂ
                                <a href="/signers/{{city}}" targets="_blank">{{city}}</a>
                            </p>
                        {{else}}
                            <p>
                                <a href="{{url}}" targets="_blank">{{fname}} {{lname}}</a> ᛂ
                                <a href="/signers/{{city}}" targets="_blank">{{city}}</a>
                            </p>
                        {{/if}}
                    {{else}}
                        {{#if age}}
                            <p>{{fname}} {{lname}} ᛂ {{age}} years old ᛂ <a href="/signers/{{city}}" targets="_blank">{{city}}</a> </p>
                        {{else}}
                            <p>{{fname}} {{lname}}  <a href="/signers/{{city}}" targets="_blank">{{city}}</a> </p>
                        {{/if}}
                    {{/if}}
                {{/signers}}

            </section>

        </div>

    </section>



    <section id="image-container">


    </section>


</div>
